* {
/*   outline: 1px red solid;*/
  }

#container {
  text-align: center;
}

.cat-container {
  display: inline-block; 
}
img {
  margin: 20px ;
}

.cat-container p {
  text-align: center;
  margin: auto;
}
